<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transliteration Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_2.css') }}">
</head>
<body> 
    <nav>
        <a href="home.html"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="TeloTrans Logo" class="logo"></a>
        <p class="sitename">Transliteration Tool</p>
        <p class="menu">About Us</p>
    </nav>

    <div class="main-content">
        <div class="transliteration-section">
            <h1>Transliterate Your Text</h1>
            
            <form id="transliteration-form-1" action="{{ url_for('pt') }}" method="post">
                <textarea id="input-text" name = "input-text" placeholder="Enter your text here..."></textarea>
                
                <button type="submit" onclick="">Transliterate</button>
            </form>
            
                </div>
            </div>
        </div>
        <div id="transliterated-text">
            <!-- Transliterated text will be displayed here -->
            <p>{{transliterated_text}}</p>
        </div>
        <div id="telen-text">
            <!-- Transliterated text will be displayed here -->
             {{telen_text}}
        </div>
    </div>

    <svg class="top-right" width="219" height="147" viewBox="0 0 219 147" fill="none" xmlns="http://www.w3.org/2000/svg">
        <!-- SVG content -->
    </svg>
    <svg class="bottom-left" width="232" height="191" viewBox="0 0 232 191" fill="none" xmlns="http://www.w3.org/2000/svg">
        <!-- SVG content -->
    </svg>

    <script src="Minor Project/static/js/script.js">
//         document.getElementById("transliterate-button").addEventListener("click", function(event) {
//     event.preventDefault();  // Prevent the default form submission behavior

//     // Submit the first form (xyz)
//     document.getElementById("transliteration-form-1").submit();

//     // Submit the second form (xy) after a slight delay to ensure the first form is processed
//     setTimeout(function() {
//         document.getElementById("transliteration-form-2").submit();
//     }, 1000);  // Delay of 1 second (1000 milliseconds) before submitting the second form
// });

    </script>
</body>
</html>
