<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transliteration Tool</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <nav>
        <a href="index.html"><img src="logo.png" alt="TeloTrans Logo" class="logo"></a>
        <p class="sitename">Transliteration Tool</p>
        <a href="about.html"><p class="menu">About Us</p></a>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M19 9H5c-.55 0-1 .45-1 1s.45 1 1 1h14c.55 0 1-.45 1-1s-.45-1-1-1zM5 15h14c.55 0 1-.45 1-1s-.45-1-1-1H5c-.55 0-1 .45-1 1s.45 1 1 1z"/>
        </svg>
    </nav>

    <div class="grid">
        <svg class="grid-svg" xmlns="http://www.w3.org/2000/svg" width="982" height="786" viewBox="0 0 982 786" fill="none">
            <!-- SVG content -->
        </svg>
        <div class="blur"></div>
    </div>

    <div class="title">
        <p>Bridging</p>
        <p>Language</p>
        <p>Gap</p>
    </div>

    <a href="signup.html" class="button first"><button>ENTER</button><span></span></a>
<a href="contact.html" class="button sec"><button>Contact Us</button><span></span></a>

    <svg class="top-right" width="219" height="147" viewBox="0 0 219 147" fill="none" xmlns="http://www.w3.org/2000/svg">
        <!-- SVG content -->
    </svg>
    <svg class="bottom-left" width="232" height="191" viewBox="0 0 232 191" fill="none" xmlns="http://www.w3.org/2000/svg">
        <!-- SVG content -->
    </svg>
</body>
</html>